#heatmapContainerWrapper{
width:500px; 
height:330px; 
zoom:0.9;
pointer-events:none;
}
#heatmapContainer{
width:100%;
height:100%;
left:0px;
pointer-events:none
}
#msp {
height:20px;
}
#mydiv {
position:fixed;
top: 220px;
left: 60%;
width:auto;
height:350;
margin-top: -9em; 
margin-left: -20em;
pointer-events:none
}
#search{
height:20px;
width:auto;
}
#filter_menu
{
zoom:0.9;
width: 100px;
height: 350px;
background-color: #F0F0F0;
opacity: 0;
}
#filter_menu2
{
width: auto;
height: 350px;
background-color: grey;
}
#b{
width: auto;
height: 350px;
zoom:0.9;
//margin-left: 100px;
//background-color: black;
pointer-events:none;
}
#hmap{
width: auto;
height: 300px;
background-color: yellow;
}
#chord{
width: 400px;
height: 300px;
background-color: orange;
}
#bb{
position:absolute;
top:0px;
width: 500px;
height: 300px;
pointer-events:none;
}
.grafico_{
width: auto;
height: 160px;     
}
#sp{
width: 50px;
height: 330px;
background-color: brown;   
}
#radar{
position:absolute;
weight:500px; 
height:330px;
//background-color: red;
}
#min{
width:auto;
height:18px;
opacity: 0;
//background-color: red;
}
#max{
width:auto;
height:18px;
opacity: 0;
//background-color: blue;
}
#range{
width:auto;
height:20px;
opacity: 0;
}
.ui-autocomplete {
max-height: 100px;
overflow-y: auto;
/* prevent horizontal scrollbar */
overflow-x: hidden;
}
.links line {
stroke: #999;
stroke-opacity: 0.6;
}
.nodes circle {
stroke: #fff;
stroke-width: 1.5px;
}
.padding-0{
padding-right:0;
padding-left:0;
padding-top:0;
padding-bottom:0;
}
.padding-1{
padding-right:0;
}
.group-tick line {
stroke: #999;
}
.ribbons {
fill-opacity: 0.85;
}  
